/* General 
============================*/
*,
*:focus {
  outline: none !important;
}
@font-face {
  font-family: "GeDinarOne";
  font-style: normal;
  font-weight: 700;
  src: url("../images/alfont_com_GE-Dinar-One-Regular.otf");
  src: local(""),
    /* Modern Browsers */ url("../images/alfont_com_GE-Dinar-One-Regular.otf")
      format("truetype");
}
body {
  font-family: "GeDinarOne", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

/* Links 
============================*/
a,
a:hover,
a:focus {
  cursor: pointer;
  text-decoration: none;
}

/* Lists  
============================*/
ul,
li {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* dot-lists
===========================*/
.dot-lists li {
  line-height: 30px;
  padding: 0;
  padding-left: 25px;
  font-size: 18px;
  margin: 10px auto;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-align: start;
  color: #fff;
}
.dot-lists li:before {
  content: " ";
  position: absolute;
  text-align: center;
  background-color: #d9322e;
  left: 0;
  top: 12px;
  right: auto;
  margin: auto;
  width: 10px;
  height: 10px;
  z-index: 9999;
}

/* Images  
============================*/
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

/* Custom-btn  
==========================*/
.custom-btn {
  display: inline-block;
  position: relative;
  border: none;
  margin: 15px auto;
  line-height: 45px;
  text-align: center;
  font-size: 18px;
  padding: 0 30px;
  text-transform: uppercase;
  color: #ffffff;
  overflow: hidden;
  border-radius: 0;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: rgba(80, 173, 51, 0.7);
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.custom-btn span {
  position: relative;
  text-align: center;
}
.custom-btn:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: #50ab33;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}
.custom-btn:hover {
  color: #ffffff;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.custom-btn:focus {
  color: #ffffff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.custom-btn:hover:before {
  width: 100%;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}

/* Forms
========================*/
.form-group {
  position: relative;
  overflow: hidden;
  margin: 15px auto;
}
.form-group label {
  display: block;
  text-align: start;
  font-weight: 900;
  font-size: 15px;
  line-height: 25px;
  margin: 10px 0;
  color: #6e6e6e;
  letter-spacing: 1px;
}
.form-control {
  color: #50ab33;
  border: 0;
  margin: 0 auto;
  padding: 0 15px;
  height: 50px;
  font-weight: 600;
  line-height: 50px;
  background-color: #f9f9f9;
  border-radius: 0;
  font-size: 19px;
  letter-spacing: 1px;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.form-control:hover,
.form-control:focus {
  outline: 0;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
textarea.form-control {
  height: 120px !important;
  resize: none;
  overflow-x: hidden;
  line-height: 57px;
}

/* Side Menu
========================*/
.side-block {
  position: fixed;
  left: 0;
  top: 0;
  width: 40%;
  height: 100%;
  background: url(../images/ITADVIPBg.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.side-block:before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
}
.side-block .logo {
  position: relative;
  background-color: #fff;
  padding: 25px;
  max-width: 480px;
  width: 94%;
  margin: 260px auto;
  border-radius: 20px;
}
.side-block .copy-right {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
}
.side-block-cont {
  position: fixed;
  right: 0;
  top: 0;
  width: 60%;
  height: 100%;
  background-color: #fff;
  overflow: auto;
}
.block-item {
  margin: 0 auto;
  background-color: #fff;
  overflow-y: auto;
  padding: 50px;
}
.head-title {
  display: inline-block;
  position: relative;
  font-size: 34px;
  line-height: 40px;
  color: #50ab33;
  margin: 15px auto;
  letter-spacing: -2px;
  font-weight: 900;
  text-transform: capitalize;
}
.info-text {
  display: block;
  position: relative;
  line-height: 40px;
  font-size: 20px;
  color: #50ab33;
  text-transform: uppercase;
  margin: 15px 0;
  font-weight: 900;
  letter-spacing: 1px;
  text-align: start;
}
.info-text:before {
  content: " ";
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #50ab33;
  top: 0;
  bottom: 0;
  right: -60px;
  margin: auto;
}
.contact-item,
.about-item {
  display: block;
  position: relative;
  background-color: #f9f9f9;
  overflow: hidden;
  margin: 15px 0;
  padding: 15px;
}
.contact-item img {
  float: left;
  width: 74px;
  padding: 13px;
  background-color: #ffffff;
}
.contact-item .contact-info,
.about-item .about-info {
  display: block;
  padding: 0px 5px 5px 90px;
  text-align: start;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 25px;
  font-size: 15px;
}
.about-item .about-info {
  text-align: start;
  padding: 0 10px 10px 10px;
}
.contact-item .contact-info span,
.about-item .about-info span {
  display: block;
  letter-spacing: 1px;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 900;
  color: #50ab33;
}
.map {
  display: block;
  width: 100%;
}
.map iframe {
  margin-bottom: 10px;
}
.loader {
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  background-color: #50ab33;
  height: 100%;
  text-align: center;
  -webkit-transition: 1s all ease-in;
  -moz-transition: 1s all ease-in;
  transition: 1s all ease-in;
}
.loader .load-cont {
  width: 360px;
  height: 140px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  line-height: 100px;
  color: transparent;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 2px;
  font-size: 60px;
  overflow: hidden;
}
.spinner {
  display: block;
  margin: 5px auto;
  position: relative;
  height: 25px;
}
.spinner div {
  width: 20px;
  height: 20px;
  position: absolute;
  left: -20px;
  top: 0;
  background-color: #fff;
  border-radius: 50%;
  animation: move 3s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
}
.spinner div:nth-child(2) {
  animation-delay: 150ms;
  left: -25px;
}
.spinner div:nth-child(3) {
  animation-delay: 300ms;
  left: -30px;
}
.spinner div:nth-child(4) {
  animation-delay: 450ms;
  left: -35px;
}
@keyframes move {
  0% {
    left: 0%;
  }
  75% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
.loader.end {
  right: 100%;
  -webkit-transition: 1s all ease-out;
  -moz-transition: 1s all ease-out;
  transition: 1s all ease-out;
}

/* Scroll
============================*/
::-webkit-scrollbar {
  width: 35px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: rgba(80, 173, 51, 0.4);
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #50ab33;
  width: 5px;
  -webkit-box-shadow: none;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #50ab33;
  width: 5px;
}
::-webkit-scrollbar {
  width: 5px;
}
::-moz-scrollbar-track {
  -webkit-box-shadow: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: rgba(80, 173, 51, 0.4);
}
::-moz-scrollbar-thumb {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: rgb(80, 173, 51);
  width: 5px;
  -webkit-box-shadow: none;
}
::-moz-scrollbar-thumb:window-inactive {
  background: #50ab33;
  width: 5px;
}
@media all and (min-width: 992px) and (max-width: 1200px) {
  .block-item {
    padding: 50px 25px;
  }
  .contact-item {
    padding: 15px 5px;
  }
  .contact-item img {
    width: 64px;
  }
  .contact-item .contact-info {
    padding-left: 74px;
  }
}
@media all and (max-width: 860px) {
  body {
    overflow-y: auto;
    position: relative;
  }
  .side-block,
  .side-block-cont {
    position: relative;
    width: 100%;
    padding: 50px 0px;
    text-align: center;
    height: auto;
  }
  .side-block-cont {
    padding: 20px 0px 0px;
    overflow-y: hidden;
  }
  .side-block .logo {
    margin: 15px auto;
    max-width: 270px;
  }
  .side-block .copy-right {
    position: relative;
    display: block;
    bottom: auto;
    margin: 15px auto 0;
  }
  .block-item {
    padding: 0px 50px;
  }
  .loader {
    width: 100%;
  }
}
.showMap {
  float: inline-end;
}
[data-notify="container"][class*="alert"] {
  border-width: 0px;
  border-radius: 50px;
  box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.3);
  letter-spacing: 1px;
  text-align: center;
}

[data-notify="container"].alert-danger {
  width: auto;
}

[data-notify="container"].alert-success {
  width: auto;
}

[data-notify="container"][class*="alert-"]>[data-notify="icon"] {
  display: inline;
}

[data-notify="container"][class*="alert-"]>[data-notify="message"] {
  font-weight: 400;
  display: inline;
  text-align: center;
  width: 100%;
}
